.box-cont {
        
    width: 100%;
    display: grid;
    display: flex;
  }
  #prod-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }

  #prod-container > div {
    width: 45%;
    margin-left: 2%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #prod-container > div img {
    width: 100%;
    height: 70%;
  }
  #prod-container button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
  }

  .pay-container {
    width: 30%;
    height: 600px;
    background-color: thistle;
    font-size: 25px;
    font-weight: bold;
    padding-left: 2%;
    margin-top: 2%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .pay-container input {
    width: 90%;
    height: 5%;
    outline: none;
  }
  
  .pay-container > #submit {
      width: 93%;
    height: 8%;
    background-color: deeppink;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: whitesmoke;
  }
  .prod-content {
    text-align: center;
    border-bottom: 1px solid lightgray;
  }